<p>
  <label>Enabled:</label>
  <%= check_box_tag "settings[enabled]", true, @settings[:enabled] %>
</p>
<p>
  <label>GitHub URL:</label>
  <%= text_field_tag 'settings[github_url]', @settings[:github_url] %>
</p>
<p>
  <label>GitHub API URL:</label>
  <%= text_field_tag 'settings[github_api_url]', @settings[:github_api_url] %>
</p>
<p>
  <label>Client ID:</label>
  <%= text_field_tag 'settings[client_id]', @settings[:client_id] %>
</p>
<p>
  <label>Client Secret:</label>
  <%= text_field_tag 'settings[client_secret]', @settings[:client_secret] %>
</p>
